* {
  margin: 0;
  padding: 0;
}
  
/*Cor de fundo do site*/
body {
  background-color: #0091ad;
}
  
/*Corpo do site*/
main {
  position: relative;
  height: 25vw;
  width: 30vw;
  border: 1px solid black;
  border-radius: 7vw;
  margin-top: 10vw;
  margin-left: 35vw;
  background-color: white;
}
  
/*Borda que vai conter todas as informações do cadastro*/
#informacoes {
  padding-top: 5vw;
  padding-left: 4vw;
}
  
/*Layout das caixas de textos*/
#informacoes .input {
  width: 15vw;
  height: 2vw;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 1vw;
}
  
#divID {
  margin-left: 3vw;
}
  
#inf_parag {
  margin-left: 6vw;
}

/*Botão de entrar*/
#entrar {
  height: 3vw;
  width: 7vw;
  border: 1px solid black;
  border-radius: 10vw;
  margin-top: 3vw;
  margin-left: 7vw;
  text-align: center;
  cursor: pointer;
}
  
main #entrar:hover {
  background-color: #80b1c7;
}
    
    