* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62,5%;;

  /* Cores */
  --font-family: "Fredoka", sans-serif;
  --background-main-primary: #0091ad;
  --background-main-secundary: #07396b;

  --font-color-h1: white;
  --font-size-h1-mobile: 1.5rem;
  --font-size-h1-desktop: 2rem;

  --font-color-p: rgb(173, 173, 173);
  --font-size-p-mobile: 1rem;
  --font-size-p-desktop: 1.5rem;

  --font-size-a-mobile: 1.3rem;
  --font-size-a-desktop:  1.7rem;

  --font-color-a: black;
  --font-size-button-mobile: 1rem;
}

/* FONTES */
a {
  font-size: var(--font-size-a-mobile);
  color: var(--font-color-a);
}

p {
  font-size: var(--font-size-p-mobile);
  color: var(--font-color-p);
}

h1, h2 {
  color: var(--font-color-h1);
  font-size: var(--font-size-h1-mobile);
}

/* MENU */
.menu {
  background-color: var(--background-main-primary);

  height: 5rem;
}

.menu ul:first-child {
  display: none;
}

.menu ul:last-child {
  display: flex;
  flex-direction: column;
  align-items: end;

  padding: 10%;
}

.menu ul:last-child div {
  height: 0.3rem;
  width: 2.4rem;

  margin-top: 0.1rem;
  background-color: white;
}

/* MAIN PAGE */
.main-page {
  background-color: var(--background-main-primary);

  padding: 10%;
}

.main-page article:first-child {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin: 8rem 0 8rem 0;
}

.main-page button {
  width: 100%;
  height: 2.5rem;
  font-size: var(--font-size-button-mobile);

  border-radius: 1rem;
  border: none;
}

.main-page img {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;

  background-color: var(--background-main-secundary);
 
  padding: 10%;
  height: 100%;
}

.info h2 {
  text-align: center;
  margin-bottom: 5rem;
}

.info main {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;

  text-align: justify;
}

.info main h1 {
  text-align: center;

  margin-bottom: 1rem;
}

.info img {
  height: 20rem;
  width: 100%;
}

/* > 500px */
@media (min-width: 500px) {
  .menu ul:last-child {
    display: none;
  }
  .menu ul:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--font-color-h1);
    height: 5rem;
  }
  .menu ul:first-child div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .menu ul:first-child li, 
  a {
    list-style: none;
    text-decoration: none;
    color: var(--font-color-h2);
  }
  .menu #imgLogin {
    height: 2.5rem;
    width: 2.5rem;
  }
  .main-page h1 {
    text-align: center;
  }
  .main-page a {
    margin: 0 10% 0 10%;
  }
}

/* > 750px */
@media (min-width: 750px) {
  .menu ul:first-child a {
    font-size: var(--font-size-a-desktop);
  }
}

@media (min-width: 800px) {
  h2 {
    font-size: var(--font-size-h1-desktop);
  }
  .main-page img {
    display: block;
  }
  .main-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5rem
  }
  .main-page article {
    width: 50%;
    gap: 2rem;
  }
  .main-page article:first-child {
    gap: 2rem;
  }
  .main-page article a {
    margin: 0;
  }
  .main-page article img {
    height: 20rem;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .menu ul:first-child {
    justify-content: space-between;
  }
  .menu ul:first-child > div {
    margin-left: 5rem;
  }
  .menu ul:first-child > li {
    margin-right: 5rem;
  }
  p {
    font-size: var(--font-size-p-desktop);
  }
  h1 {
    font-size: var(--font-size-h1-desktop);
  }
  .main-page article img {
    height: 25rem;
  }
  .main-page button {
    width: 50%;
    margin: 0 25% 0 25%;
  }
  .main-page article:first-child { 
    margin: 0;
  }
  .info main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .info main article {
    width: 100%;
  }
  .info main img {
    height: 25rem;
  }
  #dark-blue main {
    flex-direction: row-reverse;
    background-color: var(--background-main-secundary);
  }
  #light-blue {
    background-color: var(--background-main-primary);
  }
  #light-blue p {
    color: black;
  }
}

