* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
body {
  background-color: #0091ad;
}
  
header p {
  font-size: 3vw;
  text-align: center;
  padding-top: 2vw;
  font-weight: bold;
}
  
section {
  margin: 15vw;
  margin-top: 2vw;
  padding-bottom: 4vw;
  background-color: #ffffff;
}
  
section img {
  display: inline;
  margin-top: 3vw;
  margin-left: 7vw;
}
  
article {
  margin-left: 5vw;
  margin-top: 1vw;
  margin-right: 5vw;
}
  
div {
  position: relative;
  font-size: 2vw;
}
  
div p {
  text-align: 2vw;
  padding-left: 15vw;
  position: absolute;
  top: 4vw;
}
  