body {
  background-color: #0091ad;
}
  
header {
  font-size: 3vw;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4vw;
  font-weight: bold;
}
  
section {
  display: inline-block;
  margin: 15vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  padding: 5vw;
  padding-top: 3vw;
  text-align: justify;
  background-color: white;
}
  
h1 {
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
}
  
#img {
  height: 20vw;
  width: 55vw;
  margin-top: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
  
  